
.search-zone{
	width: 100%;
	display: flex;
	justify-content: center;
}

.search-button {
	color: white;
	width: 10%;
	height: 3rem;
    padding: 10px;
	border: none;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
	border-radius: 0 10rem 10rem 0;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.search-button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.search-input{
	color: white;
	width: 80%;
	height: 3rem;
	font-size: 1rem;
	padding: 0.5em 1em;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10rem 0 0 10rem;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box; /* fix sizing of input */
}

.cards-container {
	max-width: 100vw;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.card{
	width: 300px;
    height: 400px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	padding-bottom: 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.1);
}
/* override car heigh */
.destination-card{
    height: auto;
    transition: 0.2s ease-in-out;
}

.destination-card:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.card-image{
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-text{
    padding: 1rem;
    font-size: 1rem;
}

.card-title{
    padding: 0rem 1rem;
	font-size: 1.5rem;
	font-weight: 600;
}


.card-description{
	margin-bottom: 1rem;
}


/* override CSS */
.page-content {
    min-height: 75vh;
    gap: 5rem;
}



@media screen and (min-width: 900px){

	.search-zone{
		width: 600px;
	}

	.cards-container {
		gap: 2rem;
	}

	.card{
		width: 290px;
	}
}

@media screen and (min-width: 1400px){

	.cards-container {
		max-width: 1400px;
	}
}

/* search Page End*/
