*{
	margin: 0;
	padding: 0;
	}

body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(253.11deg, #000000 8.42%, #001d33 100%);background-blend-mode: multiply, overlay, color-dodge, darken, difference, difference, normal;
	color: white;
}

a{
	color: white;
	text-decoration: none;
}



header {
	z-index: 100;
	position: fixed;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}



/* Gblobal Begin */

.w-neon-text {
	color: white;
	filter: drop-shadow(0 0 2rem #ffffff84);
}

.b-neon-text {
	color: #4fc4ff;
	filter: drop-shadow(0 0 2rem #00b7ff);
}

.text-center{
    text-align: center;
}

.page-content {
	background-image: url(../images/gradientReverse.png);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-position: top;
	background-size: cover;
	gap: 10rem;
    padding-top: 8rem;
}

.container {
	max-width: 80vw;
	width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}


.subtitle {
	font-size: 3rem;
	font-weight: 600;
}

.text-area {
	font-size: 1rem;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.map {
	width: 80vw;
	height: 400px;
	border-radius: 20px;
	filter: drop-shadow(0 0 5rem #d1e6d975);
}


.direction-reverse{
	flex-direction: column-reverse;

}

.neon-button {
	color: #001d33;
	width: fit-content;
	font-size: 1rem;
	padding: 0.5em 1em;
	background-color: #4fc4ff;
	border-radius: 10px;
	filter: drop-shadow(0 0 1rem #00b7ff99);
	transition: 0.2s ease-in-out;
}

.neon-button:hover {
	background-color: #00b7ff;
	cursor: pointer;
}

.about-image {
	width: 100%;
	max-width: 800px;
	border-radius: 20px;
	filter: drop-shadow(0 0 5rem #2894ff5a);
}



@media screen and (min-width: 900px){
	.container {
		flex-direction: row;
		gap: 10rem;
		align-items: center;
	}
	.subtitle {
		font-size: 5rem;
	}
	.text-area {
		font-size: 1.5rem;
	}
	.map{
		width: 600px;
	
	}
	
}



@media screen and (min-width: 1400px){
	
	.container {
		max-width: 1400px;
	}
	
}


/* Global End */